<?xml version="1.0" encoding="gb2312"?>
<appsettings>
  <SoftView>
    <IsNightOn>1</IsNightOn>
  </SoftView>
  <AppInitial>
    <Me_X>386</Me_X>
    <Me_Y>162</Me_Y>
    <Me_Height>776</Me_Height>
    <Me_Width>974</Me_Width>
  </AppInitial>
  <myWebSite>
    <JavWebSite>www.javbus.com</JavWebSite>
  </myWebSite>
  <SmallPicForm>
    <Fanhao_Font>微软雅黑</Fanhao_Font>
    <Fanhao_Size>12</Fanhao_Size>
    <Fanhao_ForeColor>微软雅黑</Fanhao_ForeColor>
    <Fanhao_BackColor>微软雅黑</Fanhao_BackColor>
    <Fanhao_Bold>0</Fanhao_Bold>
    <Fanhao_Italic>0</Fanhao_Italic>
    <Mingcheng_Font>微软雅黑</Mingcheng_Font>
    <Mingcheng_Size>12</Mingcheng_Size>
    <Mingcheng_ForeColor>微软雅黑</Mingcheng_ForeColor>
    <Mingcheng_BackColor>微软雅黑</Mingcheng_BackColor>
    <Mingcheng_Bold>0</Mingcheng_Bold>
    <Mingcheng_Italic>0</Mingcheng_Italic>
    <Riqi_Font>微软雅黑</Riqi_Font>
    <Riqi_Size>12</Riqi_Size>
    <Riqi_ForeColor>微软雅黑</Riqi_ForeColor>
    <Riqi_BackColor>微软雅黑</Riqi_BackColor>
    <Riqi_Bold>0</Riqi_Bold>
    <Riqi_Italic>0</Riqi_Italic>
    <Qita_Font>微软雅黑</Qita_Font>
    <Qita_Size>12</Qita_Size>
    <Qita_ForeColor>微软雅黑</Qita_ForeColor>
    <Qita_BackColor>微软雅黑</Qita_BackColor>
    <Qita_Bold>0</Qita_Bold>
    <Qita_Italic>0</Qita_Italic>
  </SmallPicForm>
  <BigPicForm>
    <Fanhao_Font>微软雅黑</Fanhao_Font>
    <Fanhao_Size>12</Fanhao_Size>
    <Fanhao_ForeColor>微软雅黑</Fanhao_ForeColor>
    <Fanhao_BackColor>微软雅黑</Fanhao_BackColor>
    <Fanhao_Bold>0</Fanhao_Bold>
    <Fanhao_Italic>0</Fanhao_Italic>
    <Mingcheng_Font>微软雅黑</Mingcheng_Font>
    <Mingcheng_Size>12</Mingcheng_Size>
    <Mingcheng_ForeColor>微软雅黑</Mingcheng_ForeColor>
    <Mingcheng_BackColor>微软雅黑</Mingcheng_BackColor>
    <Mingcheng_Bold>0</Mingcheng_Bold>
    <Mingcheng_Italic>0</Mingcheng_Italic>
    <Faxingriqi_Font>微软雅黑</Faxingriqi_Font>
    <Faxingriqi_Size>12</Faxingriqi_Size>
    <Faxingriqi_ForeColor>微软雅黑</Faxingriqi_ForeColor>
    <Faxingriqi_BackColor>微软雅黑</Faxingriqi_BackColor>
    <Faxingriqi_Bold>0</Faxingriqi_Bold>
    <Faxingriqi_Italic>0</Faxingriqi_Italic>
    <Changdu_Font>微软雅黑</Changdu_Font>
    <Changdu_Size>12</Changdu_Size>
    <Changdu_ForeColor>微软雅黑</Changdu_ForeColor>
    <Changdu_BackColor>微软雅黑</Changdu_BackColor>
    <Changdu_Bold>0</Changdu_Bold>
    <Changdu_Italic>0</Changdu_Italic>
    <Daoyan_Font>微软雅黑</Daoyan_Font>
    <Daoyan_Size>12</Daoyan_Size>
    <Daoyan_ForeColor>微软雅黑</Daoyan_ForeColor>
    <Daoyan_BackColor>微软雅黑</Daoyan_BackColor>
    <Daoyan_Bold>0</Daoyan_Bold>
    <Daoyan_Italic>0</Daoyan_Italic>
    <Zhizuoshang_Font>微软雅黑</Zhizuoshang_Font>
    <Zhizuoshang_Size>12</Zhizuoshang_Size>
    <Zhizuoshang_ForeColor>微软雅黑</Zhizuoshang_ForeColor>
    <Zhizuoshang_BackColor>微软雅黑</Zhizuoshang_BackColor>
    <Zhizuoshang_Bold>0</Zhizuoshang_Bold>
    <Zhizuoshang_Italic>0</Zhizuoshang_Italic>
    <Leibie_Font>微软雅黑</Leibie_Font>
    <Leibie_Size>12</Leibie_Size>
    <Leibie_ForeColor>微软雅黑</Leibie_ForeColor>
    <Leibie_BackColor>微软雅黑</Leibie_BackColor>
    <Leibie_Bold>0</Leibie_Bold>
    <Leibie_Italic>0</Leibie_Italic>
    <Yanyuan_Font>微软雅黑</Yanyuan_Font>
    <Yanyuan_Size>12</Yanyuan_Size>
    <Yanyuan_ForeColor>微软雅黑</Yanyuan_ForeColor>
    <Yanyuan_BackColor>微软雅黑</Yanyuan_BackColor>
    <Yanyuan_Bold>0</Yanyuan_Bold>
    <Yanyuan_Italic>0</Yanyuan_Italic>
    <Biaoqian_Font>微软雅黑</Biaoqian_Font>
    <Biaoqian_Size>12</Biaoqian_Size>
    <Biaoqian_ForeColor>微软雅黑</Biaoqian_ForeColor>
    <Biaoqian_BackColor>微软雅黑</Biaoqian_BackColor>
    <Biaoqian_Bold>0</Biaoqian_Bold>
    <Biaoqian_Italic>0</Biaoqian_Italic>
  </BigPicForm>
</appsettings>